.container-details {
    border: solid black 2px;
    width: 47.5%;
    height: 95%;
    box-shadow: 8px 8px 8px rgb(69, 69, 69);
    overflow-y: scroll;
    background-color:rgb(242, 242, 242);
}

.container-info {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.container-info p {
    text-align: left;
}

.container-img-title {
    display: flex;
    justify-content: space-between;
    margin: 3%;
}

.image {
    width: 25%;
    border: solid black 1px;
    box-shadow: 2px 2px 2px black;
}

.title {
    width: 85%;
    font-size: 26px;
    font-weight: bold;
    text-decoration: underline;
}

.title-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.season-episode-date {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.written-cast {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.written {
    width: 35%;
}

.cast {
    width: 65%;
}

.text {
    margin-top: 1px;
}

.spoiler {
    filter: blur(4px);
}

.spoiler:hover {
    filter: none;
}

textarea {
    max-width: 98%;
    min-width: 98%;
}

.container-reflection {
    margin-top: 3%;
}