.message-details {
    height: 100%;
    background-color: rgb(105, 105, 105);
    box-shadow: 0px 10px 10px rgb(69, 69, 69);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: #fdfdfe;
    border-radius: 50px;
    overflow: auto;
}

.message-no-episode {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 15%;
    width: 75%;
}

.img-no-episode {
    width: 40%;
    border-radius: 20%;
    margin-top: 5%;
    box-shadow: 0 0 30px rgb(237, 237, 237);
}

.container-right {
    width: 47.5%;
    height: 95%;
    box-shadow: 0px 10px 10px rgb(69, 69, 69);
    overflow-y: hidden;
    position: relative;
    background-color: rgb(242, 242, 242);
    border-radius: 50px;
}

.container-details {
    height: 100%;
    overflow: auto;
    background-color: rgb(236, 236, 236);
    text-align: left;
}

.container-details::-webkit-scrollbar,
.message-details::-webkit-scrollbar {
    width: 10px;
}

.container-details::-webkit-scrollbar-track,
.message-details::-webkit-scrollbar-track {
    background-color: #454545;
}

.container-details::-webkit-scrollbar-thumb,
.message-details::-webkit-scrollbar-thumb {
    background-color: #a76eca;
}


.container-watch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1% 2% 0% 0%;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.checkbox:hover {
    cursor: pointer
}

.container-info {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.container-info p {
    text-align: left;
}

.container-img-title {
    display: flex;
    justify-content: space-between;
    margin: 0% 3% 3% 3%;
}

.image {
    width: 25%;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #6060e8, #7532da, #bc06dc);
}

.title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #3f3d3d;
    text-shadow: 0px 0px 10px #8a5cbb, 0px 0px 10px #9a6cc7, 0px 0px 25px #ba91e2;
}

.title-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.season-episode-date {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.written-cast {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.written {
    width: 35%;
}

.cast {
    width: 65%;
}

.text {
    margin-top: 1px;
}

.spoiler {
    filter: blur(4px);
}

.spoiler:hover {
    filter: none;
}

textarea {
    max-width: 98%;
    min-width: 98%;
    font-size: 14px;
}

.container-reflection {
    margin-top: 3%;
}


@media only screen and (max-width: 1400px) {
    .container-details {
        font-size: 12px;
    }

    .title {
        font-size: 20px;
    }

    .message-no-episode {
        font-size: 18px;
    }
}

@media only screen and (max-width: 900px) {
    .container-details {
        font-size: 10px;
    }

    .title {
        font-size: 16px;
    }

    .image {
        width: 20%;
    }
}

@media only screen and (max-width: 700px) {
    .container-right {
        width: 95%;
        margin-top: 5%;
    }
}