td {
    padding: 1vh 3vh 0vh 3vh;
    font-size: 14px;
}

.row:hover {
    cursor: pointer;
    background-color:rgb(172, 172, 172)
}

.checkbox {
    width: 20px;
    height: 20px;
}

.checkbox:hover {
    cursor: pointer
}