td {
    padding: 1vh 3vh 0vh 3vh;
    font-size: 14px;
}

.row:hover {
    cursor: pointer;
    background-color:rgb(172, 172, 172)
}

.checkbox {
    width: 20px;
    height: 20px;
}

.checkbox:hover {
    cursor: pointer
}

@media only screen and (max-width: 1400px) {
    td {
        font-size: 12px;
    }
  }

  @media only screen and (max-width: 1230px) {
    td {
        font-size: 10px;
    }
  }