.container-form {
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    /* position: sticky; */
}

.search {
    height: 35px;
    margin-left: 1%;
    border: none;
    border-radius: 15px;
}

.sort-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1%;
    border: none;
}

.dropdown {
    height: 35px; 
    width: 150px;
    border-radius: 15px;
}

.dropdown:hover {
    cursor: pointer;
}

.button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none; 
    margin-left: 1.5%;
}

.button:hover {
    cursor: pointer;
}

.arrow { 
    width: 150%;
}