
table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    display: table;
}

th {
    font-size: 14px;
    text-decoration: underline;
    background-color: white;
}

thead {
    height: 35px;
    position: sticky;
    top: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

h3 {
    margin-top: 4%;
}

.container-all-episodes {
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    overflow: auto;
    width: 100%;
    height: 100%
}

.container-all-episodes::-webkit-scrollbar {
   width: 10px;
}

.container-all-episodes::-webkit-scrollbar-track {
    background-color: #323131;
}

.container-all-episodes::-webkit-scrollbar-thumb {
    background-color: #9c9c9c;}

.container-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.loading-text {
    font-size: 24px;
    font-weight: 500;
}

.loading-image {
    border-radius: 8%;
    width: 60%;
}

.message-sad-search {
    margin-top: 15%;
    font-size: 18px;
}

