.App {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #812b4c, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7.5s ease infinite;
  height: 85.2vh;
  padding-top: 1.5%;
}

header {
  background-color:rgb(63, 66, 66);
  border-bottom: black solid 1px;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  height: 12vh;
  text-shadow: 4px 4px black;
}

h1 {
  font-size: 22px;
  margin: 10px 0px 15px 0px;
}

h2 {
  font-size: 32px;
  margin: 0px;
}

h3 {
  font-size: 22px;
  text-decoration: underline;
}

.container-left {
  border: solid black 2px;
  background-color:rgb(242, 242, 242);
  box-shadow: 8px 8px 8px rgb(69, 69, 69);
  width: 47.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
}

.container-button {
  display: flex;
  justify-content: space-between;
  margin-left: 1.5%;
  width: 10%;
}

.button-nav {
  width: fit-content;
}

.button-nav:hover {
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 1440px) {
    header { height: 12.5vh }
    h1 { font-size: 16px; }
    h2 { font-size: 22px; }
    .container-button { width: 13.5%; }
}