.App {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2vh;
  /* background: linear-gradient(45deg, #ee7752, #e73c7e, #812b4c, #23a6d5, #23d5ab); */
  background-color:#d2d2e3;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 85vh;
  padding-top: 1.5%;
}

header {
  border-bottom: black solid 1px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 1.1%;
  background-image: linear-gradient(to left, #242325, #433252, #6a587b);
  font-weight: 600;
  color: #fdfdfe;
  /* background-clip: text;
  -webkit-background-clip: text;  */
}

h1 {
  font-size: 22px;
  margin: 10px 0px 15px 0px;
}

h2 {
  font-size: 32px;
  margin: 0px;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
  0px 0px 20px #b393d3;
}

h3 {
  font-size: 22px;
  text-decoration: underline;
}

.container-left {
  border: solid black 2px;
  background-color:rgb(242, 242, 242);
  box-shadow: 8px 8px 8px rgb(69, 69, 69);
  width: 47.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  border-radius: 8%;
  overflow: hidden;
}

.container-button {
  display: flex;
  justify-content: space-between;
  margin-left: 1.5%;
  width: 10%;
  position: absolute;
  top: 8%;
  height: 3%;
  width: fit-content;
}

.button-nav {
  width: fit-content;
  margin: 3px;
  height: 100%;
  background-color: rgb(215, 215, 215);
  border: none;
  border-radius: 10px;
}

.button-nav:hover {
  cursor: pointer;
  background-color: antiquewhite;

}

.clicked {
  background-color: rgb(113, 113, 113);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 1440px) {
    header { height: 12.5vh }
    h1 { font-size: 16px; }
    h2 { font-size: 22px; }
}

@media only screen and (max-height: 800px) {
  header { height: 12.5vh }
  h1 { font-size: 16px; }
  h2 { font-size: 22px; }
}