.container-card {
    display: flex;
    margin: 3%;
    border: double 5px transparent;
    border-radius: 20px;
    background-image: linear-gradient(rgb(230, 241, 233), white), 
                      linear-gradient(to right, #ee7752, #e73c7e, #812b4c, #23a6d5, #23d5ab);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.container-card:hover {
    cursor: pointer;
    background-image: linear-gradient(#faffeb, #faffeb), 
                      linear-gradient(to right, #ee7752, #e73c7e, #812b4c, #23a6d5, #23d5ab);
}

.card-image {
    width: 17.5%;
    border-radius: 15px;
}

.card-info-title {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.card-title {
    margin: 15px 0px 0px 0px;
    font-weight: 500;
}

.card-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
